* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}
.container {
  margin: 50vh auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 30vw;

  #carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    animation: rotation 20s infinite linear;
    &:hover {
      animation-play-state: paused;
    }

    figure {
      display: block;
      position: absolute;
      width: 186px;
      height: 116px;
      left: 10px;
      top: 10px;
      background: #000;
      overflow: hidden;
      border: solid 1px red;
      &:nth-child(1) {
        transform: rotateY(0deg) translateZ(288px);
      }
      &:nth-child(2) {
        transform: rotateY(40deg) translateZ(288px);
      }
      &:nth-child(3) {
        transform: rotateY(80deg) translateZ(288px);
      }
      &:nth-child(4) {
        transform: rotateY(120deg) translateZ(288px);
      }
      &:nth-child(5) {
        transform: rotateY(160deg) translateZ(288px);
      }
      &:nth-child(6) {
        transform: rotateY(200deg) translateZ(288px);
      }
      &:nth-child(7) {
        transform: rotateY(240deg) translateZ(288px);
      }
      &:nth-child(8) {
        transform: rotateY(280deg) translateZ(288px);
      }
      &:nth-child(9) {
        transform: rotateY(320deg) translateZ(288px);
      }

      img {
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
